---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

let title = "Soraia Soares - UX Strategy"
---

<Layout title={title}>
	<Header title={title} introduction={ true }></Header>

	<main id="home"> 
		<section class="purpose">
			 <h2>
				<span data-aos="fade-up" class="purple">Meaningful</span> 
				<span data-aos="fade-up" data-aos-delay="400">Design,</span>
				<br />
				<span class="purple" data-aos="fade-up" data-aos-delay="800">Impactful</span>  
				<span data-aos="fade-up" data-aos-delay="1300" >Experience.</span>
			</h2>

			 <p class="meaning" data-aos="fade-up" data-aos-delay="1500">Harnessing the power of strategy for results.</p>
			 <div class="design-philosophy" data-aos="fade-up" data-aos-delay="1800">
				 <div class="research">
					 <h3>Research.</h3>
					 <p>Gather insights and<br> define problems.</p>
				 </div>
				 <div class="strategy">
					 <h3>Strategy.</h3>
					 <p>Understand, define<br> and sketch solutions.</p>
				 </div>
				 <div class="design">
					 <h3>Design.</h3>
					 <p>Create for the user, the<br> business and the world.</p>
				 </div>
			 </div>
		 </section>
		 <section class="my-work">
			 <h2>
				<span class="purple" data-aos="fade-up" class="purple">My</span> 
				<span data-aos="fade-up" data-aos-delay="400">Work.</span>
			</h2>
			 <p class="meaning" data-aos="fade-up" data-aos-delay="800">Check out some of my favourite projects.</p>
			 
			 <div class="case-study" data-aos="fade-up" data-aos-delay="1000">
				 <a href="/casestudy-template.html">
					 <img class="thumbnail" src="/resources/images/Case-Study-1.png">
				 </a>
	 
				 <div class="content">
					 <h5>UI Design | Education</h5>
					 <h4>CGMP Mobile App</h4>
					 <p>CGMP is a credit promoter seeking to improve sales performance. With that in mind, they decided to develop a mobile app to help their employees improve their sales skills and keep up with their goals.</p>
					 <p class="button">
						 <a href="casestudy-template.html">
							 Check Case Study
						 </a>
					 </p>
				 </div>
			 </div>
		 </section>
		 <section class="about-me" data-aos="fade-up" data-aos-delay="100">
			 <h3>Here's<br>More<br>About Me.</h3>
			 <p class="button">
				 <a href="/about">
					 Get to know me better!
				 </a>
			 </p>
			 <img class="memoji" src="/resources/images/Memoji.png">
			 <p><span>UX Strategist Based In Porto, Portugal.</span><br><br>I'm an introverted LotR geek, but don't be fooled - I love to laugh and have fun. Dog and bird videos are my doom - if you are like that as well, we can be the new Merry and Pippin duo! I believe good design can change lives (and also the world) and strive daily to make that a reality. I care about the user on the other side of the screen and aim to create meaningful and impactful experiences. I love learning every day and as a true designer, I'm always up for a good challenge.</p>
		 </section>
	</main>
	
</Layout>

<script is:inline>
const typedTextSpan = document.querySelector(".typed-text");
const cursorSpan = document.querySelector(".cursor");

const textArray = ["Soraia Soares."];
const typingDelay = 150;
const newTextDelay = 100; // Delay between current and next text
let textArrayIndex = 0;
let charIndex = 0;

function type() {
  if (charIndex < textArray[textArrayIndex].length) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
  } 
  else {
    cursorSpan.classList.remove("typing");
  }
}

document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
  if(textArray.length) setTimeout(type, newTextDelay + 250);
});
</script>