---
---
<footer>
	<div id="mailMe">
		<div class="svg">
			<a href="mailto:hi@soraiasoares.com">
				<img src="/resources/images/envelope.svg" alt="Envelope icon">
			</a>
		</div>
	</div>
	<div class="content" data-aos="fade-up" data-aos-delay="100">
	<h2>Let's Get In Touch.</h2>
	<p>If you feel like I’d be a good fit on your team send me<br>an email and I’ll get in touch very shortly.</p>
	<p class="button">
		<a href="mailto:hi@soraiasoares.com">
			Email Me
		</a>
	</p>
</div>
	<div class="social">
		<ul class="social-links">
			<li><a href="https://www.instagram.com/ux.by.soraia/">Instagram</a></li>
			<li><a href="https://www.linkedin.com/in/soraia-soares/">LinkedIn</a></li>
			<li><a href="https://www.behance.net/soraias29/">Behance</a></li>
		</ul>
		<p class="copyrights">© Soraia Soares. All rights reserved 2024.</p>
	</div>
</footer>

<style>
	footer{
		position: relative;

		#mailMe{
			position: fixed;
			bottom: 1.9rem;
			right: 1.8rem;
			padding: 17px;
			width: 70px;
			height: 71px;
			background: #7E7EE0;
			border-radius: 9px;
			box-shadow: 1px 6px 12px rgba(126, 126, 224, .35);
			transition: all ease-in-out .1s;

			&:hover{
				background-color: #6060a7;
			}
		}
	}
</style>